@model UserMovieList
@{
    var id = "Confirm" + @Model.Id;
}
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@id">
                                Remove
  </button>
<div class="modal fade" id="@id" tabindex="-1" aria-labelledby="Confirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Do you want to remove "@Model.Movie.Title" from your list?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form asp-action="Remove" asp-controller="list">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>