<div id="carousel" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Images/Movies.jpg" class="d-block w-100" alt="Movie">
      <div class="carousel-caption d-none d-md-block carouselText">
        <h1 >Movies</h1>
        <p>Find your movie </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/Images/Shows.jpg" class="d-block w-100" alt="Show">
      <div class="carousel-caption d-none d-md-block carouselText">
        <h1>Shows</h1>
        <p>Find your TV show </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/Images/Movies.jpg" class="d-block w-100" alt="All">
      <div class="carousel-caption d-none d-md-block carouselText">
        <h1>Movies & Shows</h1>
        <p>Can't decide? Find what to watch from both categories</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>