<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">What2Watch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Generator" asp-action="Index">Generate</a>
                </li>
            </ul>
            <form class="d-flex" role="search" asp-action="Search" asp-controller="list" method="get">
                <input name="title" class="form-control me-2" type="search" placeholder="Enter title" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>